@tailwind base;
@tailwind components;
@tailwind utilities;

.type-number::before {
    content: "#";
    position: absolute;
    left: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.type-special::before {
    content: "*";
    position: absolute;
    left: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.type-formula::before {
    content: "=";
    position: absolute;
    left: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}