@tailwind base;
@tailwind components;
@tailwind utilities;

.special::before {
    position: absolute;
    left: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.special::after {
    position: absolute;
    right: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.type-formula::before {
    content: "=";
}

.type-mail::after {
    content: "@";
}

.type-phone::after {
    content: "#";
}

.type-url::after {
    content: "//";
}

.type-money::after {
    content: "€";
}

.type-percent::after {
    content: "%";
}

.type-select::after {
    content: "Ξ";
}