@tailwind base;
@tailwind components;
@tailwind utilities;

.special::before {
    position: absolute;
    left: 7px;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
}

.type-mail::before {
    content: "@";
}

.type-phone::before {
    content: "#";
}.type-url::before {
    content: "//";
}

.type-formula::before {
    content: "=";
}

.type-money::before {
    content: "€";
}

.type-percent::before {
    content: "%";
}